/* START Global rules */
* { 
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
body { 
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
:root {
    --main-transition: 0.4s;
    --main-color: #10cab7;
    --main-padding: 60px;
    --secland-color: rgb(228 227 227);
    --secmargin-org: 100px;
}
.contanier { 
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) { 
    .contanier { 
        width: 750px;
    }
}
@media (min-width: 998px) { 
    .contanier { 
        width: 970px;
    }
}
@media (min-width: 1200px) { 
    .contanier { 
        width: 1170px;
    }
}
/* END Global rules */
/* Start Components */
.spicy-title { 
    color: rgb(30 30 30 / 20%);
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.spicy-title + p { 
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color: #333;
    font-weight: 200;
}
@media (max-width: 767px) { 
    .spicy-title { 
        font-size: 70px;
    }
    .spicy-title + p { 
        margin-top: -20px;
    }
}
/* End Components */
/* Start Header */
header {
    padding: 10px;
}
header .contanier { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .contanier img { 
    width: 40px;
}
header .contanier .right { 
    position: relative;
}
header .contanier .right .icon { 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30px;
}
header .contanier .right .icon span { 
    background-color: #333;
    margin-bottom: 5px;
    width: 100%;
    height: 3px;
    transition: var(--main-transition);
}
header .contanier .right .icon span:nth-child(2) { 
    width: 75%;
}
header .contanier .right .icon span:nth-child(3) { 
    width: 50%;
}
header .contanier .right .icon:hover span:nth-child(3), 
header .contanier .right .icon:hover span:nth-child(2) { 
    width: 100%;
}
header .contanier .right .icon:hover span:nth-child(1) { 
    width: 75%;
}
header .contanier .right ul { 
    list-style: none;
    margin: 0;
    padding: 0;
    right: 0;
    position: absolute;
    background-color: var(--main-color);
    width: 270px;
    top: calc(100% + 6px);
    display: none;
    z-index: 10;
}
header .contanier .right:hover ul { 
    display: block;
}
header .contanier .right ul::before { 
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--main-color) transparent;
    top: -18px;
    right: 2px;
}
header .contanier .right ul li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #333;
    transition: var(--main-transition);
}
header .contanier .right ul a:hover { 
    padding-left: 20px;
}
header .contanier .right ul li:not(:last-child) a { 
    border-bottom: 1px solid black;
}
/* End Header */
/* Start Landing */
section.landing { 
background-image: url(../imgs/landiiing.jpg);
background-size: cover;
height: calc(100vh - 44px);
position: relative;
}
section.landing .intro { 
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
section.landing .intro h1 { 
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 45px;
}
section.landing .intro p { 
    color: #333;
    margin: 0;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.8;
    width: 320px;
    max-width: 100%;
}
/* End Landing */


/* Start Features */
section.featuers { 
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.featuers .contanier { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    
}
.featuers .contanier .fea { 
    text-align: center;
    padding: 10px;
}
.featuers .contanier .fea i { 
    color: var(--main-color);
    font-size: 40px;
    font-weight: bold;
}
.featuers .contanier .fea h3 { 
    margin: 30px 0;
    font-size: 18px;
    font-weight: 800;
}
.featuers .contanier .fea p { 
    line-height: 1.8;
    font-size: 15px;
    color: #333;
}
/* End Features */
/* Start Services */
.services { 
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--secland-color);
}
.services .contanier { 
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: var(--secmargin-org);
}
.services .content { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}
.services .content .srv { 
    margin-bottom: 40px;
    display: flex;
}
.services .content .srv i { 
    color: var(--main-color);
    flex-basis: 40px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 30px;
}
.services .content .srv .text { 
    flex: 1;
}
.services .content .srv h3 { 
    margin: 20px 0 20px;
}
.services .content .srv p { 
    line-height: 1.6;
    color: #333;
    font-size: 15px;
}
.services .contanier .image img { 
    width: 260px;
    height: 100%;
}
.services .contanier .image { 
    position: relative;
    text-align: center;
    z-index: 1;
}
.services .contanier .image::before { 
    content: "";
    position: absolute;
    width: 25%;
    height: 150%;
    top: -60px;
    right: 46px;
    background-color: var(--main-color);
    z-index: -1;
}
@media (max-width: 1199px) { 
    .hideimg { 
        display: none;
    }
}
/* End Services */
/* Start Portfolio */
section.portfolio { 
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    margin-bottom: var(--secmargin-org);
}
.portfolio .contanier { 
    padding: 40px;
    margin-top: var(--secmargin-org);
}
.portfolio .contanier .org { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}
.portfolio .contanier .org img { 
    max-width: 100%;
    transition: var(--main-transition);
}
.portfolio .contanier .org img:hover {
    transform: scale(1.1) rotate(-12deg);
}
.portfolio .contanier .org .text h3 {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: -1px;
    margin: 30px 0 20px 20px;
    color: black;
}
.portfolio .contanier .org .text p {
    line-height: 1.6;
    color: #333;
    letter-spacing: -1px;
    font-size: 17px;
    margin-left: 20px;
}
.portfolio .contanier .clickme { 
    text-align: center;
    left: 50%;
    position: absolute;
    font-size: 19px;
    transform: translateX(-50%);
    padding: 20px;
    margin: 30px 0 60px;
    border: 1px solid black;
    text-decoration: none;
}
/* End Portfolio */
/* Start About */
section.about { 
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--secland-color);
}
.about .contanier .content { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: var(--secmargin-org);
}
.about .contanier .content .image { 
    position: relative;
    width: 330px;
    height: 300px;
    z-index: 1;
}
.about .contanier .content .image img { 
    max-width: 100%;
    transition: var(--main-transition);
    border: 5px var(--main-color);
    border-style: ridge;
}
.about .contanier .content .image img:hover { 
    transform: rotate(1turn);
}
.about .contanier .content .image::before { 
    content: "";
    position: absolute;
    height: calc(100% + 80px);
    width: 25%;
    background-color: var(--main-color);
    left: -50px;
    top: -70px;
    z-index: -1;
}
@media (max-width: 997px) { 
    .about .contanier .content .image { 
        display: none;
    }
}
.about .right { 
    flex: calc(100% - 500px);
    height: fit-content;
}
.about .right p:first-of-type { 
    font-size: 26px;
    color: #333;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.5;
}
.about .right hr{ 
    width: 50%;
    font-weight: 800;
    display: inline-block;
    border-color: var(--main-color);
}
.about .right p:last-of-type { 
    font-size: 19px;
    font-weight: 200;
    letter-spacing: -1px;
    color: var(--main-color);
}
/* End About */
/* Start contact */
section.contact { 
    padding-top: var(--secmargin-org);
    padding-bottom: var(--main-padding);
    margin-bottom: var(--secmargin-org);
}
.contact .contanier > p { 
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
}
.contact .contanier > a { 
    font-size: 60px;
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color);
    letter-spacing: 4px;
}
.contact .infoo { 
    display: flex;
    align-items: center;
}
.contact .infoo i { 
    padding-left: 20px;
    font-size: 30px;
}
/* End contact */
/* Start footer */
footer {
    background-color: rgb(0 137 123);
    width: 100%;
    height: 100px;
    position: relative;
}
footer div { 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}
footer div span { 
    color: var(--main-color);
}
/* End footer */